*.class
*.log

# sbt specific
.bsp/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/
# project/boot/
# project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# Dotty specific
.dotty-ide*

# Metals specifig
.metals/
.bloop/